# Исключаем виртуальное окружение
venv/
Lib/
Scripts/
pyvenv.cfg

# Исключаем временные файлы
*.pyc
__pycache__/

# Исключаем логи
*.log

# Исключаем настройки PyCharm
.idea/

# Исключаем .env файл с конфиденциальной информацией
.env
