# Папка виртуального окружения, созданная PyCharm
venv/
Lib/
Scripts/
pyvenv.cfg

# Логи
*.log

# Местные настройки IDE
.idea/

# Папки и файлы временных данных
*.pyc
__pycache__/

# Переменные окружения
.env
